body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #ff643f;
}

section {
    padding: 16px;
}

.hero .highlight {
    color: #ff4d00;
}

.site-logo {
    margin: 0 auto;
}

.site-logo img {
    width: 300px;
}

.activities .activity-thumbnail {
    width: 100%;
}

.events .event-thumbnail {
    max-width: 100%;
}
